<style>
    body {
        /* The image used */
        background-image: url("img_girl.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{{!-- Navbar --}}
<div class="container full-width-container">
    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a class="active" href="/addguest">Add Guest</a>
        <a href="/dashboard">Summary</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="topnav-right">
            <a href="/logout">Logout</a>
            <a>Welcome, {{email}}</a>
        </div>
    </div>
</div>

<div id="page-container">
    <div id="content-wrap">
        <div class="container content box">
            <h1 class="dhsummary">Add a guest</h1>
            {{!-- form for adding a new guest --}}
            <form>
                {{!-- Name --}}
                <div class="row">
                    <div class="six columns">
                        <label for="firstName">First Name</label>
                        <input class="u-full-width" type="text" id="firstName">
                    </div>
                    <div class="six columns">
                        <label for="lastName">Last Name</label>
                        <input class="u-full-width" type="text" id="lastName">
                    </div>
                </div>

                {{!-- Phone number --}}
                <div class="row">
                    <div class="twelve columns">
                        <label for="phoneNumber">Phone Number</label>
                        <input class="u-full-width" type="tel" id="phoneNumber">
                    </div>
                </div>

                {{!-- address --}}
                <div class="row">
                    <div class="six columns">
                        <label for="streetAddress">Street Address</label>
                        <input class="u-full-width" type="text" id="streetAddress">
                    </div>
                    <div class="six columns">
                        <label for="cityAddress">City</label>
                        <input class="u-full-width" type="text" id="cityAddress">
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <label for="zipAddress">Zip code</label>
                        <input class="u-full width" type="text" id="zipAddress">
                    </div>
                    <div class="six columns">
                        <label for="stateAddress">State</label>
                        <input class="u-full width" type="text" id="stateAddress">
                    </div>
                </div>

                <<<<<<< HEAD {{!-- Food restrictions --}} <div class="row">
                    <div class="two columns">
                        <label for="foodRestrictBool">Food restrictions</label>
                        <input class="u-full width" type="checkbox" id="foodRestrictBool">
                    </div>
                    <div class="ten columns">
                        <label for="foodRestrictText">Details</label>
                        <input class="u-full width" type="text" id="foodRestrictText">
                    </div>
        </div>
        =======
        {{!-- Food restrictions --}}
        <div class="row">
            <div class="two columns">
                <label for="foodRestrictBool">Food restrictions</label>
                <select class="u-full-width" id="foodRestrictBool">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="ten columns">
                <label for="foodRestrictText">Details</label>
                <input class="u-full width" type="text" id="foodRestrictText">
            </div>
        </div>
        >>>>>>> main

        {{!-- Email --}}
        <div class="row">
            <div class="twelve columns">
                <label for="email">Email</label>
                <input class="u-full width" type="email" id="email">
            </div>
        </div>

        {{!-- Additional Guests --}}
        <div class="row">
            <div class="twelve columns">
                <label for="additionalGuests">Number of Additional Guests</label>
                <input class="u-full width" type="number" id="additionalGuests">
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="comments">Additional Comments</label>
                <input class="u-full width" type="text" id="comment">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <input type="submit" value="Submit" id="submitNewGuest" class="button-primary">
            </div>
            <div class="six columns">
                {{!-- Button to go back to guest detail page without adding a new guest --}}
                <a href="/details"><input type="button" value="Cancel" class="button-primary"></a>
            </div>
        </div>
        </form>
    </div>
    <<<<<<< HEAD </div>
        <footer id="footer">Footer</footer>
        =======
        <div class="row">
            <div class="six columns">
                <input type="submit" value="Submit" id="submitNewGuest" class="button-primary">
            </div>
            <div class="six columns">
                {{!-- Button to go back to guest detail page without adding a new guest --}}
                <a href="/details"><input type="button" value="Cancel" class="button-primary"></a>
            </div>
        </div>
        </form>
        <div class="footer">
            <p>&#169; 2020</p>
        </div>
        >>>>>>> main
</div>