<!-- NAVBAR -->
<div class="container full-width-container">
    <div class="topnav" id="myTopnav">
        <a href="/">Home</a>
        <a class="active" href="/addguest">Add Guest</a>
        <a href="/dashboard">Summary</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="topnav-right">
            <a href="/logout">Logout</a>
            <a>Welcome, {{email}}</a>
        </div>
    </div>
</div>

<div class="container box">

    <div class="row">
        <div class="twelve columns">
            <h1 class="dhsummary">Summary</h1>
        </div>
    </div>

    <div class="row u-full-width">
        <div class="twelve columns">
            <button class="button-primary u-full-width">View guest details</button>
        </div>
    </div>

    <div class="row">
        <div class="four columns">
            <div class="catBox">
                {{!-- dynamic number here --}}
                <p>100 guests listed</p>
            </div>
        </div>
        <div class="four columns">
            <div class="catBox">
                {{!-- dynamic number here --}}
                <p>80 invitations sent</p>
            </div>
        </div>
        <div class="four columns">
            <div class="catBox">
                {{!-- dynamic number here --}}
                <p>10 guests have not RSVPd</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="four columns">
            <div class="catBox">
                {{!-- dynamic number here --}}
                <p>5 guests have incomplete information</p>
            </div>
        </div>
        <div class="four columns">
            <div class="catBox">
                {{!-- dynamic number here --}}
                <p>70 guests have RSVPd</p>
            </div>
        </div>
        <div class="four columns">
            <div class="catBox">
                {{!-- dynamic number here --}}
                <p>20 invitations not sent yet</p>
            </div>
        </div>
    </div>
</div>