<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
        integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
        crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <section id="hero" class="hero u-full-width">
        <div class="hero-image"></div>
        <div class="container centered">
            <div class="twelve columns">
                <h1 class="separator">We’ve got talent</h1>
                <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Aenean massa.</h2>
            </div>
        </div>
    </section>
</body>

</html>