<!-- NAVBAR -->
<div class="container full-width-container">
    <div class="topnav" id="myTopnav">
        <a class="active" href="/">Home</a>
    </div>
</div>

<!-- SHOWCASE -->
<section class="showcase">
    <div class="container full-width-container">
        <img class="u-full-width" src="./assets/imgs/wedding-sky - resize.jpg" alt="wedding image">
        <div class="centered">Invitr</div>
    </div>
</section>

<!-- APPLICATION DESCRIPTION/TITLE -->
<div class="container full-width-container">
    <h1 class="section-a-title">Add, plan, and track your guests and their reservations with ease.</h1>
</div>

<hr>

<!-- SECTION A -->
<section class="section-a">
    <div class="container content">
        <div class="columns">
            <div class="row">
                <div class="one-half column box">
                    <p>Add guests and their information.</p>
                </div>
                <div class="one-half column box">
                    <p>View all your guests in one easy location.</p>
                </div>
            </div>
            <div class="row">
                <div class="one-half column box">
                    <p>Plan which guests have special food preferences.</p>
                </div>
                <div class="one-half column box">
                    <p>Track which guests have sent in their RSVP.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION B / BUTTONS FOR CREATE NEW USER AND LOGIN EXISTING USER -->
<section class="section-b">
    <div class="container">
        <div class="one-half column">
            <a href="signup"><button class="button-primary newUserBtn u-full-width">Create New User</button></a>
        </div>
        <div class="one-half column">
            <a href="/login"><button class="button-primary loginBtn u-full-width">Login</button></a>
        </div>
    </div>
</section>

<!-- FOOTER -->
<div class="footer">
    <p>&#169; 2020</p>
</div>