<!-- NAVBAR -->
<div class="container full-width-container">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#addguests">Add Guests</a>
        <a href="#summary">Summary</a>
        <a href="#food">Plan Food</a>
        <a href="#rsvp">Track RSVP</a>
    </div>
</div>

<!-- SHOWCASE -->
<section class="showcase">
    <div class="container full-width-container">
        <img class="u-full-width" src="./assets/imgs/wedding-sky - resize.jpg" alt="wedding image">
        <div class="centered">Invitr</div>
    </div>
</section>

<!-- APPLICATION DESCRIPTION/TITLE -->
<div class="container full-width-container">
    <h1 class="section-a-title">Add, plan, and track your guests and their reservations with ease.</h1>
</div>

<hr>

<!-- SECTION A -->
<section class="section-a">
    <div class="container">
        <div class="columns">
            <div class="row">
                <div class="three columns">
                    <div>
                        <p>1. Add guests and their information to your guest list.</p>
                    </div>
                </div>
                <div class="three columns">
                    <div>
                        <p>2. View all your guests in one easy location.</p>
                    </div>
                </div>
                <div class="three columns">
                    <div>
                        <p>3. Plan which guests have special food preferences.</p>
                    </div>
                </div>
                <div class="three columns">
                    <div>
                        <p>4. Track which guests have sent in their RSVP and which have not.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION B / BUTTONS FOR CREATE NEW USER AND LOGIN EXISTING USER -->
<section class="section-b">
    <div class="container">
        <div class="one-half column">
            <a href="signup"><button class="newUserBtn u-full-width">Create New User</button></a>
        </div>
        <div class="one-half column">
            <a href="/login"><button class="loginBtn u-full-width">Login</button></a>
        </div>
    </div>
</section>

<!-- FOOTER -->
<div class="footer">
    <p>FOOTER</p>
</div>