<form>
    <div class="form-group">
        <label for="Login">Username</label>
        <input type="text" class="form-control" id="usernameLogin">
        <label for="Login">Password</label>
        <input type="text" class="form-control" id="passLogin">

    </div>

    <button type="submit" class="btn btn-primary" id="login">Login</button>
</form>