<!-- NAVBAR -->
<div class="container full-width-container">
    <div class="topnav" id="myTopnav">
        <a class="active" href="/">Home</a>
    </div>
</div>

<div class="container content center">
    <div class="row">
        <div class="columns boxs">
            <form>
                <div class="form-group">
                    <label for="Login">Username</label>
                    <input type="email" class="form-control u-full-width" id="usernameAdd" placeholder="Email">
                    <label for="Login">Password</label>
                    <input type="password" class="form-control u-full-width" id="passAdd" placeholder="Create password">
                </div>
                <button type="submit" class="button-primary" id="signup">Sign Up</button>
            </form>
        </div>
    </div>
</div>