<div class="container">
    <div class="center">
        <div class="row">
            <div class="columns box">
                <form>
                    <div class="form-group">
                        <label for="Login">Crate Username</label>
                        <input type="text" class="form-control u-full-width" id="userAdd" placeholder="Create username">
                        <label for="Login">Create Password</label>
                        <input type="text" class="form-control u-full-width" id="passAdd" placeholder="Create password">
                    </div>
                    <button type="submit" class="btn btn-primary u-full-width" id="addBurger">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>