<form>
    <div class="form-group">
        <label for="Login">Create Username</label>
        <input type="text" class="form-control" id="userAdd">
        <label for="Login">Create Password</label>
        <input type="text" class="form-control" id="passAdd">

    </div>

    <button type="submit" class="btn btn-primary" id="addBurger">Sign Up</button>
</form>